* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    /* border: 1px solid red;   */
}

.hide {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}

/* Animation Classes and Keyframes------------------------------------------ */

.slide-top {
    animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

.scale-up-ver-bottom {
    animation: scale-up-ver-bottom 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-ver-bottom {
    0% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
}

/* .scroll-reveal {
    color: hsl(0 0% 80% / 0.2);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, black, black);
    animation: scroll-reveal 1s linear forwards;
    animation-timeline: view();
}

@keyframes scroll-reveal {
    to {
        background-size: 100% 100%;
    }
} */


/* __Header Section__*/

.menu {
    width: 100%;
    height: fit-content;
    background-color: #f3f3f3ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.35);
    position: sticky;
    top: 0;
    z-index: 10;
}


.brand-name>img {
    width: 180px;
}

.right {
    display: flex;
    align-items: center;
    padding-right: 100px;
}


.head {
    text-decoration: none;
    font-size: 1.3rem;
    color: #131316;
    margin: 0 20px;
}

.head:hover {
    border-bottom: 0.6mm solid red;
    color: crimson;
}

.right button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right button:hover {
    background: rgb(255, 233, 233);
    color: red;
}

.sub-menu {
    position: absolute;
    top: 120px;
    right: 0px;
    width: 200px;
    height: fit-content;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(228, 4, 4, 0.857);
    border-radius: 2mm;
    padding: 10px 0;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.27) 0px 15px 38px, rgba(0, 0, 0, 0.2) 0px, 10px, 12px;
}

.option,
.sub {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 10px 0;
}

.option:hover,
.sub:hover {
    background: #f3f3f3;
    color: rgb(84, 1, 1);
}

.sub {
    display: none;
}

/* __hero/main__*/

.hero {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 4.5rem;
    color: #343434;
}

.hero h3 {
    font-size: 1.7rem;
    color: #353434;
}

.img-sec {
    background-color: #f3f3f3;
}

.img-sec img {
    border-radius: 10px;
    margin: 0px 2px;
    width: 100%;
}

/* About_sec */

.about-sec,
.services,
.contact-sec {
    padding-top: 75px;
    margin-top: 40px;
    border-top: 1px solid #959494;
}

.about-sec>h2,
.services>h2,
.contact-sec>h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 5.5rem;
    font-weight: 500;
}

.about,
.client {
    margin: 80px;
}

.about,
.client li {
    font-size: 25px;
}

.about h3 {
    font-size: 30px;
    color: #131316;
    margin-top: 20px;
}

.about h3 p {
    padding-top: 10px;
    color: #767676;
    font-size: 25px;
}

.client h3 {
    font-size: 30px;
    color: #131316;
    margin-top: 20px;
}

/* Services */

.services {
    padding-top: 80px;
    align-content: center;
}

.service {
    margin: 50px 25px;
    display: flex;
    width: 80%;
    margin-left: 120px;
}

.service-2 {
    margin: 50px 25px;
    width: 80%;
    margin-left: 120px;
}

.container {
    background-color: #f3f3f3ff;
    height: 50vh;
    padding: 20px;
}

.float-right {
    float: right;
}

.service-img {
    width: 300px;
    margin-left: 20px;
}

.service-img-greybc {
    width: 250px;
    margin-left: 20px;
}

.service-img-puz {
    margin-top: 40px;
    width: 350px;
    height: 200px;
    padding: 20px;
    margin-left: 20px;
}

.Service-info {
    padding-left: 50px;
    padding-top: 20px;
}

.Service-info>h4 {
    color: #131316;
    font-size: 2.5rem;
}

.Service-info>p {
    color: #656565;
    font-size: 1.3rem;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 30px;
}


.learn-more>a {
    background: rgb(255, 62, 62);
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.learn-more>a:hover {
    background-color: rgb(207, 57, 57);
}

/* contact */

.contact-sec {
    height: 82vh;
    border-top: 1px solid #959494;
}

.contact-para>p {
    /* background-color: aqua; */
    color: #656565;
    text-align: center;
    margin: 30px 40px;
    font-size: 1.2rem;
}

.contact-info {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-item {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}

.contact-item h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.contact-item h4 i {
    color: rgb(248, 84, 84);
}

.contact-item p {
    font-size: 1.2em;
    margin: 0;
}

.contact-item a {
    text-decoration: none;
    color: #000000;
}

.contact-item a:hover {
    text-decoration: underline;
}

/* Media Querry */


@media screen and (max-width: 1300px) {


    .container {
        background-color: #f3f3f3ff;
        height: 40vh;
        padding: 20px;
    }

    .Service-info {
        padding-left: 50px;
        padding-top: 20px;
    }

    .services>h2 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 1025px) {
    .Service-info {
        padding-top: 0px;
    }

    .container {
        height: 45vh;
        padding: 10px;
    }

    .service {
        margin-left: 0px;
        width: 95%;
    }

    .service-2 {
        margin-left: 0px;
        width: 95%;
    }
}

@media screen and (max-width: 900px) {

    .about-sec>h2,
    .services>h2,
    .contact-sec>h2 {
        margin-top: 50px;
        text-align: center;
        font-size: 3rem;
        font-weight: 500;
    }

    .container {
        height: 40vh;
        padding: 10px;
    }

    .Service-info>h4 {
        font-size: 2rem;
    }

    .Service-info>p {
        font-size: 1.2rem;
    }

    .service-img {
        width: 220px;
        margin-left: 20px;
    }

    .service-img-greybc {
        width: 200px;
        margin-left: 20px;
    }


    .service-img-puz {
        margin-top: 0px;
        width: 270px;
        height: 120px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 699px) {


    /* Header */
    .head {
        display: none;
    }

    .sub {
        display: block;
    }

    .right {
        display: flex;
        align-items: center;
        padding-right: 0px;
    }

    .brand-name>img {
        width: 150px;
    }

    /* main-sec */
    .hero h1 {
        font-size: 3rem;
    }

    .hero h3 {
        font-size: 1.1rem;
    }

    /* About */
    .about-sec>h2 {
        margin-top: 70px;
        text-align: center;
        font-size: 3.5rem;
    }

    .about,
    .client {
        margin: 20px;
    }

    .about h3 {
        font-size: 1.3rem;
        margin-top: 50px;
    }

    .about h3 p {
        font-size: 1.3rem;
    }

    .client h3 {
        font-size: 1.3rem;
        margin-top: 50px;
    }

    /* Services */
    .services>h2 {
        margin-top: 70px;
        text-align: center;
        font-size: 3rem;
        padding-left: 0px;
    }

    .services {
        padding-top: 70px;
    }

    .container {
        height: 34vh;
    }

    .service {
        margin: 50px 0px;
        display: flex;
    }

    .service-img {
        width: 200px;
        margin-left: 10px;
    }

    .service-img-puz {
        margin-left: 10px;
    }

    .Service-info {
        padding-bottom: 20px;
        padding-left: 20px;
    }

    .Service-info>h4 {
        font-size: 1.7rem;
    }

    .Service-info>p {
        font-size: 0.8rem;
        margin-bottom: 10px;
    }

    .learn-more>a {
        background: rgb(255, 62, 62);
        padding: 5px;
        color: #fff;
        text-decoration: none;
        font-size: .8rem;
    }

    /* Contact */
    .contact-sec>h2 {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 569px) {

    .about-sec>h2{
        font-size: 3rem
    }

    .services>h2 {
        font-size: 2.7rem;
        padding-left: 0px;
    }

    .service {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 20px;
    }

    .service-2 {
        margin: 0px 2px;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0px;
    }

    .Service-info>h4 {
        font-size: 1.5rem;
    }

    .Service-info>p {
        font-size: 1rem;
    }

    .container {
        height: 50vh;
    }

    .service-img {
        width: 200px;
        margin-bottom: 20px;
    }

    .service-img-greybc {
        width: 175px;
        margin-bottom: 20px;

    }

    .service-img-puz {
        margin-bottom: 20px;
    }

    .contact-sec {
        height: 120vh;
    }
}

@media screen and (max-width: 399px){

    .hero h1 {
        font-size: 2.5rem;
    }

    .hero h3 {
        font-size: 1rem;
        text-align: center;
    }

    .service {
        padding: 25px;
    }

    .container {
        height: 65vh;
        padding: 25px;
    }

    .Service-info>p {
        margin-bottom: 20px;
    }

    .service-img-puz {
        margin-top: 0px;
        padding: 20px;
        margin-left: 0px;
    }

    .contact-sec {
        height: 140vh;
    } 
}

@media screen and (max-width: 360px){

    .about-sec>h2{
        font-size: 2.5rem
    }


    .service {
        padding: 10px;
    }

    .service-2 {
        padding: 0px;
    }

    .container {
        height: 63vh;
        padding: 10px;
    }


    .service-img-puz {
        margin-top: 30px;
        padding: 10px;
        margin-left: 0px;
    }

    .contact-sec>h2{
        font-size: 2.9rem;
    }
}

@media screen and (max-width: 320px){
    .container {
        height: 95vh;
        padding: 25px;
    }  
}
