* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    /* border: 1px solid red;   */
}

.hide {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}

/* Animation Classes and Keyframes------------------------------------------ */

.slide-top {
    animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

.scale-up-ver-bottom {
    animation: scale-up-ver-bottom 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-ver-bottom {
    0% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
}

/* .scroll-reveal {
    color: hsl(0 0% 80% / 0.2);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, black, black);
    animation: scroll-reveal 1s linear forwards;
    animation-timeline: view();
} */

@keyframes scroll-reveal {
    to {
        background-size: 100% 100%;
    }
}


/* __Header Section__*/

.menu {
    width: 100%;
    height: fit-content;
    background-color: #f3f3f3ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.35);
    position: sticky;
    top: 0;
    z-index: 10;
}


.brand-name>img {
    width: 180px;
}

.right {
    display: flex;
    align-items: center;
    padding-right: 100px;
}


.head {
    text-decoration: none;
    font-size: 1.3rem;
    color: #131316;
    margin: 0 20px;
}

.head:hover {
    border-bottom: 0.6mm solid red;
    color: crimson;
}

.right button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right button:hover {
    background: rgb(255, 233, 233);
    color: red;
}

.sub-menu {
    position: absolute;
    top: 120px;
    right: 0px;
    width: 200px;
    height: fit-content;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(228, 4, 4, 0.857);
    border-radius: 2mm;
    padding: 10px 0;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.27) 0px 15px 38px, rgba(0, 0, 0, 0.2) 0px, 10px, 12px;
}

.option,
.sub {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 10px 0;
}

.option:hover,
.sub:hover {
    background: #f3f3f3;
    color: rgb(84, 1, 1);
}

.sub {
    display: none;
}

/* __hero/main__*/

.hero {
    height: 70vh;
    /* padding-top: 10px; */
    padding-bottom: 100px;
}

.img-sec {
    background-image: url("img/parking-pro.webp");
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    /* padding: 0 60px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.img-sec::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 80vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content h3 {
    color: #f3f3f3;
    font-size: 80px;
}

.content h4 {
    color: #f3f3f3;
    font-size: 30px;
    margin-top: 10px;
}

/* About_sec */

.about-sec,
.services,
.contact-sec {
    padding-top: 75px;
    margin-top: 40px;
    border-top: 1px solid #959494;
}

.about-sec>h2,
.services>h2,
.contact-sec>h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 3.5rem;
    background-color: #f9f9f9;
    font-weight: bold; 
    color: #ff3131; 
    margin-bottom: 20px;
    text-transform: uppercase; 
    letter-spacing: 1.5px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    padding: 10px 0;
}

.about,
.client {
    margin: 70px;
}

.about,
.client li {
    font-size: 25px;
}

.about h3,
.client h3 {
    width: 100%;
    font-size: 30px;
    color: #131316;
    margin-top: 20px;
}

.about h3 p {
    width: 100%;
    padding-top: 10px;
    color: #131316;
    font-size: 27px;
}


/* Services */
/* *{border: 1px solid red;} */
#our-service {
    margin-bottom: 40px;
}

.service-grid {
    display: flex;
    flex-wrap: wrap;
}

.service-grid a {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    box-shadow: 2px 2px 7px 4px rgba(32, 32, 32, .02);
}

.service-container {
    width: 33.333333%;
    max-width: 33.333333%;
    min-width: 33.333333%;
    padding: 15px;
    position: relative;
}

.service-container a:hover {
    box-shadow: 2px 2px 7px 4px rgba(32, 32, 32, .06);
    border-bottom: 3px solid #ff3131;
}

.service-container .inner-container {
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.service-container .wrapper {
    display: inline-block;
    width: 100%;
    padding: 20px;
    background: hsla(0, 0%, 75.3%, .1);
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.service-container .img-wrapper {
    width: 290px;
    height: 160px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-container .img-wrapper img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.puz-img {
    width: 250px;
    height: 120px;
}

.service-container .description {
    display: inline-block;
    width: 100%;
    padding: 25px 30px 55px;
    position: relative;
    flex-grow: 1;
    /* background: hsla(0, 0%, 75.3%, .1); */
}

.service-container .heading {
    font-size: 22px;
    line-height: 33px;
    color: #ff3131;
    margin-bottom: 10px;
    letter-spacing: .02em;
}

.service-container p {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: .03em;
    margin-bottom: 20px;
    color: #7e7e7e;
    margin: 0 0 10px;
}

.service-container .learn-more {
    position: absolute;
    bottom: 28px;
    left: 30px;
    color: #ff3131;
    opacity: 0;
    font-size: 13px;
    letter-spacing: .12em;
    text-transform: uppercase;
    text-decoration: none;
    padding-right: 40px;
    display: inline-block;
    transition: opacity 0.2s ease;
    margin-top: auto;
}

.service-container:hover .learn-more {
    opacity: 1;
}

/* contact */

/* *{border: 1px solid red;} */

.contact-sec {
    /* height: 99vh; */
    border-top: 1px solid #959494;
    padding-bottom: 40px;
}

.contact-para>p {
    /* background-color: aqua; */
    color: #656565;
    text-align: center;
    margin: 30px 40px;
    font-size: 1.2rem;
}

.contact-info {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-item {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}

.contact-item h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.contact-item h4 i {
    color: rgb(248, 84, 84);
}

.contact-item p {
    font-size: 1em;
    margin: 0;
}

.contact-item a {
    text-decoration: none;
    color: #000000;
}

.contact-item a:hover {
    text-decoration: underline;
}

/* Media Querry */

@media screen and (max-width: 1200px) {
  

    .service-grid .service-container {
        width: 50%;
        max-width: 50%;
        min-width: 50%;
    }

    .content h3 {
        font-size: 60px;
    }

    .content h4 {
        font-size: 25px;
    }
}

@media screen and (max-width: 999px) {


    .about h3,
    .client h3 {
        font-size: 23px;
    }

    .about h3 p {
        font-size: 20px;
    }

    .about {
        margin: 70px 70px 20px 70px;
    }

    .client {
        margin-top: 0px;
    }

    .service-container .learn-more {
        opacity: 1;
    }
}

@media screen and (max-width: 760px) {

    .content h3 {
        font-size: 40px;
    }

    .content h4 {
        font-size: 19px;
        width: 290px;
    }

    .about-sec>h2,
    .services>h2,
    .contact-sec>h2 {
        font-size: 2.5rem;
    }

    .about,
    .client {
        margin: 40px 50px;
    }

    .about h3,
    .client h3 {
        font-size: 23px;
    }

    .about h3 p {
        font-size: 20px;
    }


    /* Header */
    .head {
        display: none;
    }

    .sub {
        display: block;
    }

    .right {
        display: flex;
        align-items: center;
        padding-right: 0px;
    }

    .brand-name>img {
        width: 150px;
    }

    /* services */

    .service-grid .service-container {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }


    /* Contact */
    .contact-sec>h2 {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 600px) {
    .about h3,
    .client h3 {
        font-size: 20px;
    }

    .about h3 p {
        font-size: 17px;
    }

    .about,
    .client {
        margin: 20px 30px;
    }
}

@media screen and (max-width: 480px) {
    .content h3 {
        font-size: 30px;
    }

    .content h4 {
        font-size: 15px;
    }

    .about h3,
    .client h3 {
        font-size: 18px;
    }

    .about h3 p {
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {
    .services>h2{
        font-size: 2rem;
    }
}
