* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    /* border: 1px solid red;   */
}


/* Header */

.menu{
    width: 100%;
    height: fit-content;
    background-color: #f3f3f3ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
    /* border-radius: 2mm; */
    position: sticky;
    top: 0;
    z-index: 10;
}


.brand-name>img{
    width: 180px;
}

.right{
    display: flex;
    align-items: center;
    padding-right: 100px;
}


.head{
    text-decoration: none;
    font-size: 1.3rem;
    color: #131316;
    margin: 0 20px;
}

.head:hover{
    border-bottom:0.6mm solid red;
    color: crimson;
}

.right button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right button:hover{
    background: rgb(255, 233, 233);
    color: red;
}

.sub-menu{
    position: absolute;
    top: 120px;
    right: 0px;
    width: 200px;
    height: fit-content;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(228, 4, 4, 0.857);
    border-radius: 2mm;
    padding: 10px 0;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.27) 0px 15px 38px, rgba(0, 0, 0, 0.2) 0px, 10px, 12px;
}

.option, .sub{
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 10px 0;
}

.option:hover,.sub:hover{
    background: #f3f3f3;
    color: rgb(84, 1, 1);
}

.sub{
    display: none;
}

/* main */

.main-info>h1{
    margin: 30px;
    font-size: 3rem;
    color: #131316;
    display: inline-block;
}

.main-info>h3{
    font-size: 1.5rem;
    color: #525252;
    margin: 0 30px;
}

.features{
    margin: 30px;
}

.features>p{
    color: #131316;
    font-size: 2rem;
}

.features-list{
    font-size: 1.2rem;
    color: #525252;
}


/* Footer */

.footer{
    background-color: #f3f3f3;
    /* background-color: aliceblue; */
}

.footer-in{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-in>img{
    width: 250px;
}

.features-list{
    /* background-color: aqua; */
   margin: 30px;
}

.features-list>li{
    margin: 10px;
}

/* Table */

.dimensions{
    margin: 50px;
    background-color: #131316;
}

th{
    background-color: rgb(255, 61, 61);
    padding: 10px;
    font-weight: 400;
}

td{
    background-color: #f3f3f3;
    padding: 10px;
    text-align: center;
}
